<!DOCTYPE html>
<html lang="ru">

<head>
	{% set title = "GulpStart" %}
	{% include "_meta.html" %}
	<!-- build:css css/libs.css rel="preload" as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'" -->
	<link href="libs\normalize.css" rel="stylesheet">
	<!-- endbuild -->
	<link rel="preload" href="css/main.css" rel="preload" as="style" onload="this.rel='stylesheet'" onerror="this.rel='stylesheet'">
</head>


<body>

	<img src="img/gulp-logo.jpg" alt=""> 
	<img src="img/gulp-logo.jpg" alt=""> 

</body>


	<!-- build:js js/libs.js async -->
	<script type="text/javascript" src="libs\jquery-3.3.1.min.js"></script> 
	<!-- endbuild -->
	<!-- build:js js/main.js async -->
	<script type="text/javascript" src="js\_scripts.js"></script> 
	<!-- endbuild -->

</html>